.body {
  background-color: steelblue;
  margin: 0px;
  padding: 0px;
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 8pt;
}
.main {
  position: relative;
  border: 2px solid red;
  background-color: lightgreen;
  height: 30em;
  width: 100%;
  padding: 0px;
  overflow-y: auto;
  border-radius: 25px;
}
.movie {
  line-height: 2em;
  list-style-type: none;
}

.outer {
  text-align: center;
  width: 80%;
}
